
@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Get</h1>

<script type="text/javascript" src="~/js/Empleado/CRUDEmpleado.js"></script>
<table class="table   table-hover table-bordered border-success table-responsive" id="#tblEmpleado">
    <thead>
        <tr>
            <td>Editar</td>

            <td style="display :none;">id</td>

            <td>Nombre</td>
            <td>Numero Nomina</td>
            <td>Apellido Paterno</td>
            <td>Apellido Materno</td>
            <td>Estado</td>
           
            <td>Eliminar</td>
        </tr>
    </thead>
    <tbody></tbody>
   </thead>
   </table>